<section class="section" id="contact">
    <p class="title">
      <h3 class='title is-3 has-text-centered' >Contato</h3>
    </p>
</section>

<section class="section is-medium">

  <div class='columns is-multiline'>
    <div class='column is-one-third'>
      <h4 class="title is-4">Sobre Nós</h4><br>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </h2>
      <p><a class="btn btn-light btn-lg" href="#" role="button">Learn more &raquo;</a></p>

    </div>
    <div class='column is-one-third'>
      <div class='container'>
        <h4 class="title is-4">Informações de Contato</h4><br>
        <h2 class="subtitle">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-phone"></i>
            </span>
            <span>(00) 9 0000-0000</span>
          </span><br>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span>estabelecimento@gmail.com</span>
          </span><br>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Rua dos Papoco, 2000</span>
          </span>
        </h2>
        
      </div>
    </div>

    <div class='column is-one-third'>
      <div class='container'>
        <h4 class="title is-4">Galeria</h4><br>
        <h2 class="subtitle">
          <div class='columns is-multiline'>
            <% 5.times do %>
              <div class='column'>
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
              </div>
            <% end %>
            <p><a class="btn btn-light btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </h2>
      </div>
    </div>
  </div>
</section>

<nav class='navbar'>
  <div class='content has-text-centered'>
    <p><strong>Powered</strong> by Angeliano Sousa. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</nav>
