<section class="section is-medium">
  <h3 class='title is-3 has-text-centered' id="Contact" >Contato</h3>

  <div class='columns is-multiline'>
    <div class='column is-half'>
      <h1 class="title">[Nome Estabelecimento]</h1><br>
      <h2 class="subtitle">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span>(00) 9 0000-0000</span>
        </span><br>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>estabelecimento@gmail.com</span>
        </span>
      </h2>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

    </div>
    <div class='column is-half'>
      <div class='container'>
        <table>
          <h3>Horário de Funcionamento</h3><br>

          <tbody>
            <tr>
              <th>Seg.: </th>
              <td><span> Fechado</span></td>
            </tr>
            <tr>
              <th>Ter.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
            <tr>
              <th>Qua.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
            <tr>
              <th>Qui.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
            <tr>
              <th>Sex.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
            <tr>
              <th>Sáb.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
            <tr>
              <th>Dom.: </th>
              <td><span> 09:00 - 22:00</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>